.mainBar {
    background-color: rgb(0, 16, 34);
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px black;
}

.title {
    margin: 0;
    padding: 0;
}

.counter{
    display: flex;
    align-items: center;
    font-size: 18px;
}